// VARIABLES
$fontPoppins: "Poppins", sans-serif;
$fontMontserrat: "Montserrat", sans-serif;
$fontPTSerif: "PT Serif", serif;

$white: #fff;
$black: #000;
$gray1: #fafafa;
$gray2: #bdbdbd;

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: $fontPoppins;
  line-height: 1.3;
  color: #333;
  background-color: $gray1;
  margin: 0;
}

//MAIN
main {
  padding: 4.44rem 0.75rem 5.69rem;
}

.info {
  margin-bottom: 2.38rem;
}

.info h1 {
  font-family: $fontPTSerif;
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: -0.045em;
  color: $black;
  margin: 0 0 2.38rem;
}

.info h2 {
  font-family: $fontPoppins;
  font-weight: 600;
  font-size: 1.13rem;
  line-height: 1.5;
  margin: 0 0 0.63rem;
}

.info p {
  max-width: 18.75rem;
  font-family: $fontPoppins;
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 1.5;
  margin: 0;
}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 1.56rem;
  padding: 0 0.44rem;
}

.team li {
  position: relative;
  padding-right: 1.06rem;
}

.team li:nth-child(even) {
  margin-top: 3rem;
}

.team img {
  display: block;
  width: 100%;
}

.team h3 {
  font-family: $fontPoppins;
  font-weight: 600;
  font-size: 0.88rem;
  line-height: 1.5;
  color: $black;
  margin: 0.63rem 0 0;
}

.team span {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-family: $fontPTSerif;
  font-size: 0.63rem;
  line-height: 1;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

//FOOTER
footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1.2;
  color: $gray2;
  text-align: center;
  padding: 1.5rem 0.75rem;

  a {
    color: $gray2;
    font-weight: 700;
    text-decoration: underline;
  }
}

@media screen and (min-width: 576px) {
  main {
    max-width: 58.88rem;
    margin: 0 auto;
  }
  .info {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 6rem;
  }
  .info h1 {
    margin: 0;
  }
  .info p {
    max-width: 27.44rem;
    font-size: 1.13rem;
  }
  .team {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.69rem 4.19rem;
    padding: 0;
  }
  .team li {
    padding-right: 1.44rem;
  }
  .team li:nth-child(even) {
    margin-top: 0;
  }
  .team li:nth-child(2),
  .team li:nth-child(5) {
    margin-top: 6rem;
  }
  .team h3 {
    font-size: 1.13rem;
  }
  .team span {
    font-size: 0.75rem;
  }
}
