// VARIABLES
$fontMontserrat: "Montserrat", sans-serif;
$fontPlayFair: "Playfair Display", serif;

$black: #000;
$white: #fff;
$gray1: #4e5150;
$gray2: #a9a9a9;
$gray3: #bdbdbd;
$gray4: #e5e5e5;

$bp: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin query($screen) {
  @each $key, $value in $bp {
    @if ($screen == $key) {
      @media (min-width: $value) {
        @content;
      }
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
ul,
ol,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: $fontMontserrat;
  line-height: 1.3;
  color: $gray1;
  background-color: $white;
  margin: 0;
  overflow-x: hidden;
}

//MAIN CONTENT

main {
  // max-width: 540px;
  max-width: 960px;
  padding: 2rem 0.75rem;
  margin: 0 auto;
}

.person {
  display: grid;
  place-items: center;
  margin-bottom: 2.5rem;

  h1 {
    font-size: 0.88rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }

  h2 {
    font-size: 0.63rem;
    font-weight: 600;
    color: $gray2;
    margin-bottom: 0.75rem;
  }
}

.person-img {
  width: 6.31rem;
  height: 6.31rem;
  margin-bottom: 0.75rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}

.box-group {
  display: grid;
  grid-template-columns: repeat(3, 4.88rem);
  grid-auto-rows: 3.25rem;
  gap: 0.94rem;
}

.box {
  display: grid;
  place-content: center;
  place-items: center;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: $gray4;
  border-radius: 0.75rem;

  span {
    color: $gray3;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  grid-template-rows: repeat(3, minmax(0px, 1fr));
  // grid-auto-flow: dense;
  gap: 0.75rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
    border-radius: 0.75rem;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
  }

  .w-2 {
    grid-column: span 2;
  }

  .h-3 {
    grid-row: span 3;
  }
}

//FOOTER

footer {
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1.2;
  color: $gray4;
  text-align: center;
  padding: 1.5rem 0.75rem;
}

footer a {
  color: $gray4;
  font-weight: 700;
  text-decoration: underline;
}

// MEDIA

// @include query(md) {

// }

@include query(lg) {
  .person-img {
    width: 9.75rem;
    height: 9.75rem;
    margin-bottom: 1rem;
  }

  .person {
    margin-bottom: 4rem;

    h1 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 0.88rem;
      margin-bottom: 1.5rem;
    }
  }

  .box-group {
    grid-template-columns: repeat(3, 6.25rem);
    grid-auto-rows: 4.2rem;
    gap: 1.5rem;
  }

  .box {
    font-size: 1.13rem;

    span {
      font-size: 0.88rem;
    }
  }
}

// @include query(xl) {

// }

// @include query(xxl) {
// }
